
:root {
    --azul-twitter: #1d9bf0;
}

body {
    background-color: #FFFFFF;
    font-family: sans-serif;
    display: flex;

}

.area-imagem {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.capa-login {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.icon-twitter-imagem {
    color: #FFFFFF;
    font-size: 20rem;
}

.container {
    background-color: #FFFFFF;
    display: flex;
    width: 45%;
    padding: 8rem 20px 20px;
}

.conteudo-login{
    background-color: #FFFFFF;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.btn-login {
    height: 38px;
    width: 300px;
    padding: 0 16px;
    border-radius: 999px;
    border: 1px solid #dadce0;
    background-color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-login:hover {
    background-color: #ecf3fe;
    transition: 0.3s;
    border: 1px solid #d2e3fc;
}

.btn-login:active {
    background-color: #e0ebfd;
    transition: 0.3s;
}

.link-login{
    text-decoration: none;
    color: #0f1419;
    font-size: 15px;
    font-weight: bold;
}

.termos-servico {
    font-size: 11px;
    width: 300px;
}

.font-blue {
    color: var(--azul-twitter);
}

.font-white {
    color: #FFFFFF;
}

.font-sem-serif{
    margin-bottom: 10px;
}

.titulo-principal {
    margin: 48px 0;
    font-size: 3rem;
}

.titulo-secundario {
    margin: 0 0 32px;
    font-size: 1.5rem;
}

.titulo-terciario {
    font-size: 17px;
    margin-top: 3rem;
}

.titulo {
    font-family: 'Archivo', sans-serif;
}

.icon-twitter{
    font-size: 42px;
    padding: 0 0 12px;
    color: var(--azul-twitter);
}

.icon-google {
    width: 12px;
    margin-right: 0.3rem;
}

p {
    color: #536471
}


@media (max-width: 1000px){
    .icon-twitter-imagem {
        font-size: 15rem;
        z-index: 1;
    }
}

@media (max-width: 780px){
    body {
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }

    .container {
        display: flex;
        justify-content: center;
        width: 70%;
        padding-top: 1rem;
        margin-left: 4rem;
    }


    .capa-login {
        display: none;
    }

    .area-imagem {
        height: 20rem;
        width: 100%;
        background-image: url('../Login/imagens/twitter_capa.png');
    }

    .icon-twitter-imagem {
        font-size: 15rem;
    }

    .btn-login {
        height: 40px;
    }
}

@media (max-width: 690px){

    .icon-twitter {
        margin-top: 2rem;
    }

    .titulo-principal {
        font-size: 3rem;
        margin: 1rem 0;
    }

    .titulo-secundario {
        font-size: 2rem;
    }

    .container {
        margin-left: 4rem;
    }

}

@media (max-width: 440px){
    .container {
        margin: 0 0 0 1rem;
    }

    .conteudo-login {
        width: 100%;
    }

    .titulo-principal {
        font-size: 2.5rem;
    }

    .btn-login {
        width: 100%;
    }

    .termos-servico {
        width: 100%;
    }
}