html, body{
    height: 100%;
    margin: 0 !important;
    padding: 0;
}

h1, h2, h3{
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}